<!DOCTYPE html>
<html lang="ja">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/lux/bootstrap.min.css" rel="stylesheet" integrity="sha384-oOs/gFavzADqv3i5nCM+9CzXe3e5vXLXZ5LZ7PplpsWpTCufB7kqkTlC9FtZ5nJo" crossorigin="anonymous">
    <title>私の輝晶獣メモ</title>
  </head>
  <body>
    <div id="beast-app">
      <div id="top">
        <h2>
          私の輝晶獣メモ
        </h2>
        <div class="error-messages">
          {{ error }}
        </div>
        <div id="inputs">
          <input type="number" id="server-number" v-model="currentServer" onfocus="this.select()">
          <select id="color" v-model="currentArea">
            <option v-for="areaName in areaNames">{{ areaName }}</option>
          </select>
          <select id="color" v-model="currentColor">
            <option v-for="color in colors">{{ color }}</option>
          </select>
          <button v-on:click ="push">
            追加
          </button>
          <div id="option-buttons">
            <button v-on:click ="pop">
              削除
            </button>
            <button v-on:click ="clear">
              すべて削除
            </button>
          </div>
        </div>
      </div>
      <table class="servers">
        <tr class="server" v-for="(server, index) in servers">
          <th class="server-number">{{ index + 1 }}</th>
          <td>
            <table class="areas">
              <tr class="area" v-for="area in server">
                <th>{{ area.name }}</th>
                  <td v-for="time in area.times" v-bind:class="time.color">
                    <div class="time">
                      {{ time.color }}
                      {{ moment(time.time).format('hh:mm') }}
                    </div> 
                  </td>
              </tr>
            </table>  
          </td>
        </tr>
      </table>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
  </body>
</html>
