@charset "utf-8";
body {
  padding-top: 5rem;
  font-family: monospace;
  font-size: 1em;
  font-family: 'Noto Sans JP', sans-serif;
}
@media screen and (max-width:460px) { 
  body {
    padding-top: 11rem;
  }
}
@media screen and (min-width: 406px) and (max-width:542px) { 
  body {
    padding-top: 5rem;
  }
}
@media screen and (min-width: 543px) { 
  body {
    padding-top: 3rem;
  }
}
nav .form-group {
  margin: 0;
}

.error-messages {
  color: #eaa8a8;
  padding-left: 1em;
}
#server-number {
  width: 5em;
  text-align: right;
}
#remove-button {
  margin-left: 1.5em;
}

.servers {
  margin: 1em 0;
  border-collapse: collapse;
  font-size: 0.8em;
  width: 100%;
}

.server:nth-child(even) {
  background-color: #f2f3f1;
}

.server-number {
  color: #999;
  font-weight: bold;
  font-size: 1.5em;
  text-align: right;
  padding: 0 8px;
  border: none;
  width: 3em;
}
#option-menu-button {
  padding: 2px;
}
#option-menu-button svg {
  width: 1.5em; 
}
.server {
  border: 0 solid #e4e4e2;
  border-top-width: 1px;
}
.area {
  border: 0 solid #e4e4e2;
  border-top-width: 1px;
}
.area:first-child {
  border: none;
}
.area > th {
  padding: 0.2em 0.5em;
  min-width: 4em;
}
.area ul {
  margin: 0;
  padding-left: 0;
}
.time {
  padding: 0.2em 0.4em;
  border-radius: 4px;
  display: inline-block;
  font-weight: bold;
}
.青{
  background-color: #8ebdf9;
}
.黄{
  background-color: #f7e486;
}
.赤{
  background-color: #faa;
}
.虹{
  background: linear-gradient(217deg, rgba(255,0,0,.3), rgba(255,0,0,0) 70.71%),
              linear-gradient(127deg, rgba(0,255,0,.3), rgba(0,255,0,0) 70.71%),
              linear-gradient(336deg, rgba(0,0,255,.3), rgba(0,0,255,0) 70.71%);
}
.青 + .黄 {
  border: 2px solid #da7d2d;
}
.黄 + .赤 {
  border:2px solid #f35a5a;
}
