@charset "utf-8";
body {
  padding-top: 5rem;
  font-family: monospace;
  font-size: 1em;
  font-family: 'Noto Sans JP', sans-serif;
}
@media screen and (max-width:460px) { 
  body {
    padding-top: 11rem;
  }
}
@media screen and (min-width: 461px) and (max-width:580px) { 
  body {
    padding-top: 8rem;
  }
}
@media screen and (min-width: 581px) { 
  body {
    padding-top: 5rem;
  }
}

.error-messages {
  color: #eaa8a8;
  padding-left: 1em;
}
#server-number {
  width: 5em;
  text-align: right;
}
#remove-button {
  margin-left: 2em;
}

.servers {
  margin-top: 1em;
  border-collapse: collapse;
  font-size: 0.8em;
}

.server:nth-child(even) {
  background-color: #eaeaea;
}

.server-number {
  color: #999;
  font-weight: bold;
  font-size: 1.5em;
  text-align: right;
  padding: 0 8px;
  border: 0 solid #ccc;
  border-top-width: 1px;
}
.area > th, .area > td {
  border: 0 solid #ccc;
  border-top-width: 1px;
}
.area > th {
  padding: 0.2em 0.5em;
  min-width: 4em;
}
.area ul {
  margin: 0;
  padding-left: 0;
}
.time {
  padding: 0.2em 1px;
  border-radius: 2px;
  display: inline-block;
}
.青{
  background-color: #8ebdf9;
}
.黄{
  background-color: #f7e486;
}
.赤{
  background-color: #faa;
}
.虹{
  background-color: #de64ec;
}
.青 + .黄 {
  border: 2px solid #da7d2d;
}
.黄 + .赤 {
  border:2px solid #f35a5a;
}
