@charset "utf-8";
body {
  padding-top: 5rem;
  font-family: monospace;
  font-size: 1em;
}

#beast-app {
}

.error-messages {
  color: #eaa8a8;
  padding-left: 1em;
}
#server-number {
  width: 5em;
  text-align: right;
}
#remove-button {
  margin-left: 2em;
}

.servers {
  margin-top: 1em;
  font-family: monospace;
  border-collapse: collapse;
}

.server:nth-child(even) {
  background-color: #eaeaea;
}

.server-number {
  color: #999;
  font-weight: bold;
  font-size: 1.5em;
  text-align: right;
  padding: 0 8px;
  border: 0 solid #ccc;
  border-top-width: 1px;
}
.area > th, .area > td {
  padding: 0.2em 1px;
  border: 0 solid #ccc;
  border-top-width: 1px;
}
.time {
  border-radius: 2px;
}
.青 > .time {
  background-color: #8ebdf9;
}
.黄 > .time {
  background-color: #f7e486;
}
.赤 > .time {
  background-color: #faa;
}
.虹 > .time {
  background-color: #de64ec;
}
.青 + .黄 > .time{
  background-color: #da7d2d;
  color: #fff;
}
.黄 + .赤 > .time{
  background-color: #f35a5a;
  color: #fff;
}
